@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&display=swap');
body{
overflow-x: hidden;
}



canvas {
position: fixed;
top: 0px;
left: 0px;

}

canvas2 {
position: absolute
}

main {

  margin: 0px auto;
  color: white;
  position: absolute;
  width: 100%;
  z-index: 100;
  font-family: 'Montserrat', sans-serif;
}


.header{
margin-top: 10%;
display: grid;
grid-template-rows: repeat(2, autofit, minmax(150px, 0.88fr));
justify-content: center;

        }

.greeting {
justify-items: center;
background: rgba(0, 0, 0, 0.5);
border-radius: 25px;
width: 800px;
height: 70px;
padding: 50px;
margin: 0;
font-size: 50px;
}

#pic {
justify-items: center;
border-radius: 30% 70% 70% 30% / 30% 30% 70% 70% !important;
margin-left: 36%;

}
.pic {
align-self: center;
}

.title {
padding-bottom: 50px;
text-align: center;
}

.vertical-scroll {
width: 60%;
margin: auto;
padding-bottom: 25px;
padding-top: 25px;
font-size: 40px;


}
.subject {
text-align: center;
font-size: 55px;
}


.fade-in{
opacity:0;
transition: opacity 250ms ease-in;
margin-top: 10px;
}

.fade-in.appear {
    opacity: 1;
    animation: Slide_Up 2s ease;

}



@keyframes Slide_Up{
0% {
    transform: translateY(50px);
}
100% {
    transform: translateY(0);
}
}

@keyframes wipe {
	0% {
		transform: scale(0.2, 100%);
	}
	50% {
		transform: scale(100%, 100%);
	}
}

.wipe-animation {
animation: wipe 2s;
}

.divider.fade-in.appear{

 animation: wipe 5s;
}
.divider{
  border-top: 2px solid #B0ACD1;
  border-radius: 5px;

}

.pics {
display: grid;
grid-template-columns: repeat(3, 1fr);
gap: 10%;
justify-items: center;
padding: 100px;
padding-top: 0px;

}
.GWCpic {
width: 100%;
height: 100%;
border-radius: 10%;
}


.perfClub {
display: grid;
gap: 3%;
grid-template-columns: 1fr, autofit;
grid-template-rows: 100px, 200px;
grid-template-areas:
"p1 gif"
"des gif";
justify-items: center;
overflow: hidden;
width: 70%;
max-height: 100vh;
margin: auto;
padding-bottom: 50px;
font-size: 40px;
background: rgba(0, 0, 0, 0.5);
padding: 3%;
border-radius: 25px;
}
.p1 {
grid-area: p1;
}
.code-gif {
grid-area: gif;
border: 3px solid white;
border-radius: 3%;
object-fit: cover;
width: 30vw;
max-height: 60vh;

}
.description {
grid-area: des;
font-size: 25px;
opacity: 90%;
color: #B0ACD1;

}
mark {
background: none;
color: #7AEEE7;
font-family: 'Kalam', cursive;

}
.sattimer {
display: grid;
gap: 5%;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: repeat(4, 1f);
grid-template-areas:
"subject subject"
"intro timergif"
"descrip timergif"
"link github";
justify-items: center;
overflow: hidden;
width: 70%;
margin: auto;
font-size: 1.7vw;
background: rgba(0, 0, 0, 0.5);
padding: 4%;

border-radius: 25px;
}
.stsubj {
grid-area: subject;
font-size: 4vw;
padding-bottom: 2px;
margin: 0;
font-family: 'Silkscreen', cursive;
}
.stintro {
grid-area: intro;
}
.timer-gif {
grid-area: timergif;
max-width:20vw;
max-height: 50vh;
}
.stdescrip {
grid-area: descrip;
font-size: 1.2vw;
opacity: 90%;
color: #B0ACD1;
}
.stgit {
grid-area: github;
padding: 5%;
margin-bottom: 12%;
}
.stgit:hover {
margin-bottom: 15%;
padding: 5%;
}
.stlink {
grid-area: link;
margin-bottom: 15%;
}

.aiProj {
display: grid;
gap: 6%;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: repeat(3, 1f);
grid-template-areas:
"aisub aisub"
"aitext ailearn"
"link link";
justify-items: center;
overflow: hidden;
width: 70%;
margin: auto;
font-size: 1.7vw;
background: rgba(0, 0, 0, 0.5);
padding: 4%;
margin-top: 7%;;
margin-bottom: 7%;
border-radius: 25px;
}
.aisubj{grid-area: aisub; font-size: 4vw; margin-top: 0; font-family: 'Silkscreen', cursive; margin-bottom:0;}
.aitext{grid-area: aitext;}
.ailearn{grid-area: ailearn; }
.ailink{grid-area: link; margin-bottom: 4%;}

.chart {
display: grid;
grid-template-columns: repeat(3, 1fr);

}

a {
position: relative;
width: 60%;
height: 7vh;
display: flex;
justify-content: center;
align-items: center;
gap: 10px;
text-decoration: none;
letter-spacing: 0.2em;
font-weight: 500;
color: white;
background: linear-gradient(90deg,#3d1ef9,#8a78fb);
font-family: 'Rajdhani', sans-serif;


}
a::before {
content: '';
position: absolute;
top: 0;
left: 0;
width:100%;
height: 100%;
background: rgba(0,0,0,0.5);
transform: scaleX(0);
transition: transform 0.5s ease-in-out;
transform-origin: right;


}
a:hover::before{
transform: scaleX(1);
transform-origin: left;

}

a span {
display: inline-block;
z-index: 2;
}

a:hover span {
color: #FAF5BE;
}

a i {
position: relative;
display: inline-block;
width: 0;
height: 0;
background: #003366;
transition: 0.2s, width 0.5s, height 0.5s;
}
a:hover i {
width: 30px;
height: 2px;
background: #FAF5BE;
transition-delay: 0s, 0.6s, 0.2s;
}

a i::before {
content: '';
position: absolute;
top: 0.5px;
right: 0px;
width: 50%;
height: 2px;
background: transparent;
rotate:0;
transform-origin:right;
transition: 0.5s;
}
a:hover i::before{
background: #FAF5BE;
rotate: 45deg;
transition-delay: 1s;
}

a i::after {
content: '';
position: absolute;
top: 0.5px;
right: 0px;
width: 50%;
height: 2px;
background: transparent;
rotate:0;
transform-origin:right;
transition: 1s;
}
a:hover i::after{
background: #FAF5BE;
rotate: -45deg;
transition-delay: 1s;
}

.comingsoon{
text-align: center;
}




